{% extends "base.html" %}
{% block css_block %}
    <link href="../static/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="../static/css/plugins/codemirror/ambiance.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="height:42px;">
                    Terminal
                </div>
                <div class="ibox-content">
<textarea id="code">
#!/usr/bin/env python
# -*- coding: UTF-8 -*-
import sys
if True :
    for i in range(1, 4):
        print(i)
    print('Hello World!')
    print(sys.version)
</textarea>
                    <button type="button" style="margin-top:15px;" class="btn btn-white" onclick="console_run()" data-toggle="modal" data-target="#myModal"><i class="fa fa-play"></i> 执行</button>
                    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">执行结果</h4>
                                </div>
                                <div class="modal-body">
                                    <pre><strong id="console_run"></strong></pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_logic %}
    <!-- CodeMirror -->
    <script src="../static/js/plugins/codemirror/codemirror.js"></script>
    <script src="../static/js/plugins/codemirror/mode/javascript/javascript.js"></script>
    <script src="../static/js/plugins/codemirror/mode/python/python.js"></script>
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: {
                name: "python",
                version: 3,
                singleLineStringErrors: false
            },
            lineNumbers: true,
            indentUnit: 4,
            matchBrackets: true
        });

        function console_run() {
            document.getElementById("console_run").innerHTML = '';
            $.ajax({
                type: "POST",
                url: "/admin/console/run",
                data: {
                    code: editor.getValue(),
                },
                dataType: "json",
                success: function (data) {
                    if (data.r == 'ok') {
                        document.getElementById("console_run").innerHTML=data.output;
                    } else {
                        document.getElementById("console_run").innerHTML=data.msg;
                    }
                }
            });
        };
    </script>
{% endblock %}

{% block navibar %}
    <div class="col-sm-4">
        <h2>控制终端</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Console</strong>
            </li>
        </ol>
    </div>
{% endblock %}
{% set active_page = "console" %}
